// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.follow-btn {
  height: 100px;
  width: 200px;
  padding: 0 30px;
  font-size: 30px;
  background-color: rgb(38, 177, 231);
  color: white;
  cursor: pointer;
  border-radius: 100px;
}